
.idea/assetWizardSettings.xml
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/5.6.4/javaCompile/taskHistory.bin
.gradle/5.6.4/javaCompile/javaCompile.lock
.gradle/5.6.4/javaCompile/jarAnalysis.bin
.gradle/5.6.4/javaCompile/classAnalysis.bin
.gradle/5.6.4/fileHashes/resourceHashesCache.bin
.gradle/5.6.4/fileHashes/fileHashes.lock
.gradle/5.6.4/fileHashes/fileHashes.bin
.gradle/5.6.4/executionHistory/executionHistory.lock
.gradle/5.6.4/executionHistory/executionHistory.bin
